In [9]:
import pandas as pd
import yfinance as yf
# import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt

In [11]:
# 엑셀 파일 불러오기 (sheet_name으로 특정 시트 지정 가능)
df_raw = pd.read_excel("etf_raw_daily.xlsx", sheet_name=None)

C:\Users\20250003\AppData\Local\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\20250003\AppData\Local\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

In [105]:
df_price = pd.DataFrame(df_raw['asset_price'].iloc[16:,])
df_price = df_price.rename(columns=df_raw['asset_price'].iloc[12,1:49])
df_price.set_index('Unnamed: 0', inplace=True)

In [107]:
df_price

,Stock,Bond,Commodity,DM,EM,US,Europe,Japan,China,Taiwan,...,Diversified,Precious_metals,Energy&Fuel,Industrial_metals,Agriculture,multi_strategy,macro,fx,Unnamed: 49,Unnamed: 50
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2019-12-28,566.84,2228.08,440.2722,2364.9,1118.61,3240.02,419.74,23837.72,4022.03,465.44,...,172.9613,1970.249,61.72,327.19,347.35,1327.76,7328.74,1161.4,1.8752,1.5812
2019-12-29,566.84,2228.08,440.2722,2364.9,1118.61,3240.02,419.74,23837.72,4022.03,465.44,...,172.9613,1970.249,61.72,327.19,347.35,1327.76,7444.31,1161.4,1.8752,1.5812
2019-12-30,564.38,2226.8,439.5781,2353.25,1118.42,3221.29,416.17,23656.62,4081.63,462.96,...,173.0705,1971.441,61.68,327.53,347.79,1325.44,7242.34,1156.25,1.8788,1.5653
2019-12-31,565.24,2225,436.2189,2358.47,1114.66,3230.78,415.84,23656.62,4096.58,459.8,...,172.0042,1975.893,61.06,324.21,347.95,1327.26,7145.9,1156.25,1.9175,1.5691
2020-01-01,565.24,2225,436.2189,2358.48,1114.64,3230.78,415.84,23656.62,4096.58,459.8,...,172.0042,1975.893,61.06,324.21,347.95,1327.26,7212.13,1156.25,1.9175,1.5691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-03,859.33,2202.4,566.9422,3796.53,1073.72,5994.57,534.85,38520.09,3817.08,955.14,...,251.755,3697.699,73.16,448.28,540.55,1572.19,101702.6,1462.4,4.555,4.2489
2025-02-04,866.92,2206.19,567.57,3826.36,1092.93,6037.88,536.04,38798.37,3817.08,964.34,...,252.8223,3724.582,72.7,450.67,547.33,1577.54,98665.2,1450.75,4.5105,4.2137
2025-02-05,871.69,2217.19,562.8738,3848.65,1095.79,6061.48,538.56,38831.48,3795.08,979.37,...,252.7262,3744.552,71.03,451.42,545.25,1580.8,97524.64,1444,4.4181,4.1868
2025-02-06,875.34,2215.72,561.9673,3864.03,1102.25,6083.57,544.84,39066.53,3842.83,984.32,...,253.1687,3721.9,70.61,453.11,548.12,1581.85,96496.59,1447.25,4.4342,4.2118
2025-02-07,869.44,2209.18,563.2335,3832.82,1108.48,6025.99,542.75,38787.02,3892.7,991.67,...,252.9414,3733.686,71,456.65,542.94,1578.2,96193.14,1448.75,4.4947,4.2892

In [109]:
asset_price = df_price[['US','Europe','Japan','China','Korea','Unnamed: 49','Unnamed: 50','Energy&Fuel','fx']]

In [111]:
weekly_asset_price = asset_price[asset_price.index.weekday ==4]
weekly_asset_price

,US,Europe,Japan,China,Korea,Unnamed: 49,Unnamed: 50,Energy&Fuel,fx
Unnamed: 0,,,,,,,,,
2020-01-03,3234.85,418.33,23656.62,4144.96,2176.46,1.7881,1.5246,63.05,1166.9
2020-01-10,3265.35,419.14,23850.57,4163.18,2206.39,1.8196,1.5702,59.04,1161.65
2020-01-17,3329.62,424.56,24041.26,4154.85,2250.57,1.8215,1.5592,58.54,1159.5
2020-01-24,3295.47,423.64,23827.18,4003.9,2246.13,1.6839,1.4947,54.19,1168.65
2020-01-31,3225.52,410.71,23205.18,4003.9,2119.01,1.5068,1.3132,51.56,1191.7
...,...,...,...,...,...,...,...,...,...
2025-01-10,5827.04,511.5,39190.4,3732.48,2515.78,4.7592,4.3792,76.57,1471.3
2025-01-17,5996.66,523.62,38451.46,3812.34,2523.55,4.627,4.2826,77.88,1457.35
2025-01-24,6101.24,530.07,39931.98,3832.86,2536.8,4.6214,4.2655,74.66,1430.5
2025-01-31,6040.53,539.53,39572.49,3817.08,2517.37,4.5387,4.1971,72.53,1454.3
2025-02-07,6025.99,542.75,38787.02,3892.7,2521.92,4.4947,4.2892,71,1448.75

In [113]:
stock_price_pct = pd.DataFrame([weekly_asset_price.iloc[:,:5].pct_change().iloc[-1]*100], index=None)

C:\Users\20250003\AppData\Local\Temp\ipykernel_14852\3345238842.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  stock_price_pct = pd.DataFrame([weekly_asset_price.iloc[:,:5].pct_change().iloc[-1]*100], index=None)

In [115]:
stock_price_pct = stock_price_pct.reset_index(drop=True)

In [117]:
bond_price_pct = pd.DataFrame([weekly_asset_price.iloc[:,5:7].iloc[-1] - weekly_asset_price.iloc[:,5:7].iloc[-2]])

In [119]:
comm_price_pct = pd.DataFrame([weekly_asset_price['Energy&Fuel'].pct_change().iloc[-1]*100], columns = ['Energy&Fuel'])

C:\Users\20250003\AppData\Local\Temp\ipykernel_14852\3293390477.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  comm_price_pct = pd.DataFrame([weekly_asset_price['Energy&Fuel'].pct_change().iloc[-1]*100], columns = ['Energy&Fuel'])

In [121]:
fx_price_pct = pd.DataFrame([weekly_asset_price['fx'].iloc[-1] - weekly_asset_price['fx'].iloc[-2]], columns =['fx'])

In [123]:
df = pd.concat([stock_price_pct, bond_price_pct, comm_price_pct, fx_price_pct],axis=1)

In [125]:
df

,US,Europe,Japan,China,Korea,Unnamed: 49,Unnamed: 50,Energy&Fuel,fx
0,-0.240707,0.596816,-1.984889,1.981095,0.180744,-0.044,0.0921,-2.109472,-5.55

In [127]:
df.loc[len(df)] = weekly_asset_price.iloc[-1]

In [129]:
df

,US,Europe,Japan,China,Korea,Unnamed: 49,Unnamed: 50,Energy&Fuel,fx
0,-0.240707,0.596816,-1.984889,1.981095,0.180744,-0.0440,0.0921,-2.109472,-5.55
1,6025.990000,542.750000,38787.020000,3892.700000,2521.920000,4.4947,4.2892,71.000000,1448.75

In [131]:
df.to_csv('./data/page1_metrics_data.csv')

In [101]:
# pd.read_csv('./data/page1_metrics_data.csv', index_col=0)

      Stock      Bond  Commodity    FX
0  0.046028  0.388069   0.234234 -5.55

In [103]:
df_metrics = pd.read_csv('./data/page1_metrics_data.csv', index_col=0)
df_metrics_index1 = df_metrics.loc[1,['US','Europe','Japan','China','Korea','Energy&Fuel','fx']].round(0).astype(int)
df_metrics_index2 = df_metrics.loc[1,['Unnamed: 49','Unnamed: 50']].round(2)
df_mertrics_index = pd.concat([df_metrics_index1,df_metrics_index2])
formatted_values = df_metrics_index.apply(lambda x: f"{x:,}")

In [450]:
df_metrics_index.iloc[0]

6025

In [438]:
df_metrics_index =  df_metrics.iloc[1,:].round(0).astype(int)

In [444]:
df_metrics_index[1]

C:\Users\USER\AppData\Local\Temp\ipykernel_29356\1216825800.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_metrics_index[1]

542