In [111]:
import pandas as pd
import yfinance as yf
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt

In [ ]:
# 엑셀 파일 불러오기 (sheet_name으로 특정 시트 지정 가능)
df_raw = pd.read_excel("etf_raw_daily.xlsx", sheet_name=None)

In [65]:
df_price = pd.DataFrame(df_raw['asset_price'].iloc[16:,])
df_price = df_price.rename(columns=df_raw['asset_price'].iloc[12,1:49])
df_price.set_index('Unnamed: 0', inplace=True)

In [129]:
asset_price = df_price[['US','Europe','Japan','China','Korea','Long','Low','Energy&Fuel','fx']]

In [131]:
weekly_asset_price = asset_price[asset_price.index.weekday ==4]
weekly_asset_price

,US,Europe,Japan,China,Korea,Long,Low,Energy&Fuel,fx
Unnamed: 0,,,,,,,,,
2020-01-03,3234.85,418.33,23656.62,4144.96,2176.46,139.12,84.74,63.05,1166.9
2020-01-10,3265.35,419.14,23850.57,4163.18,2206.39,138.44,84.7,59.04,1161.65
2020-01-17,3329.62,424.56,24041.26,4154.85,2250.57,138.02,84.77,58.54,1159.5
2020-01-24,3295.47,423.64,23827.18,4003.9,2246.13,142.08,84.87,54.19,1168.65
2020-01-31,3225.52,410.71,23205.18,4003.9,2119.01,145.9,85.12,51.56,1191.7
...,...,...,...,...,...,...,...,...,...
2025-01-10,5827.04,511.5,39190.4,3732.48,2515.78,85.46,81.83,76.57,1471.3
2025-01-17,5996.66,523.62,38451.46,3812.34,2523.55,87.19,82.08,77.88,1457.35
2025-01-24,6101.24,530.07,39931.98,3832.86,2536.8,87.22,82.14,74.66,1430.5
2025-01-31,6040.53,539.53,39572.49,3817.08,2517.37,87.76,82.29,72.53,1454.3
2025-02-07,6025.99,542.75,38787.02,3892.7,2521.92,89.27,81.97,71,1448.75

In [332]:
stock_price_pct = pd.DataFrame([weekly_asset_price.iloc[:,:5].pct_change().iloc[-1]*100], index=None)

C:\Users\USER\AppData\Local\Temp\ipykernel_29356\3345238842.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  stock_price_pct = pd.DataFrame([weekly_asset_price.iloc[:,:5].pct_change().iloc[-1]*100], index=None)

In [340]:
stock_price_pct = stock_price_pct.reset_index(drop=True)

In [342]:
bond_price_pct = pd.DataFrame([weekly_asset_price.iloc[:,5:7].iloc[-2] - weekly_asset_price.iloc[:,5:7].iloc[-1]])

In [344]:
comm_price_pct = pd.DataFrame([weekly_asset_price['Energy&Fuel'].pct_change().iloc[-1]*100], columns = ['WTI'])

C:\Users\USER\AppData\Local\Temp\ipykernel_29356\938647360.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  comm_price_pct = pd.DataFrame([weekly_asset_price['Energy&Fuel'].pct_change().iloc[-1]*100], columns = ['WTI'])

In [346]:
fx_price_pct = pd.DataFrame([weekly_asset_price['fx'].iloc[-1] - weekly_asset_price['fx'].iloc[-2]], columns =['USD/KRW'])

In [368]:
df = pd.concat([stock_price_pct, bond_price_pct, comm_price_pct, fx_price_pct],axis=1)

In [370]:
df

,US,Europe,Japan,China,Korea,Long,Low,WTI,USD/KRW
0,-0.240707,0.596816,-1.984889,1.981095,0.180744,-1.51,0.32,-2.109472,-5.55

In [372]:
df.to_csv('./data/page1_metrics_data.csv')

In [101]:
# pd.read_csv('./data/page1_metrics_data.csv', index_col=0)

      Stock      Bond  Commodity    FX
0  0.046028  0.388069   0.234234 -5.55